html {
    font-size: 16px; /* rem is calculated based on this value. */
    width: 450px;
}

:root {
    /* Colors */
    --dark-grey: #1f2328;
    --light-grey: #ececec;

    /* Spacing Scale */
    --space-xs: 0.25rem; /* Extra small spacing for tight groupings (4px) */
    --space-sm: 0.5rem; /* Small spacing for closer elements (8px) */
    --space-md: 1rem; /* Base spacing for most uses (16px) */
    --space-lg: 1.5rem; /* Medium spacing for grouping larger blocks (24px) */
    --space-xl: 2rem; /* Large spacing for wider separations (32px) */
    --space-xxl: 3rem; /* Extra large spacing for major breaks in content (48px) */
    --space-ultra: 4rem; /* Ultra spacing for large layout divisions (64px) */

    /* Font Sizes */
    --font-size-small: 0.75rem; /* Small text for less important information (12px) */
    --font-size-normal: 0.825rem; /* Normal text for main content (14px) */
    --font-size-large: 1.25rem; /* Large text for headings or important clickable items (20px) */
}

body {
    padding: var(--space-xl);
}

hr {
    border: 1px solid var(--light-grey);
}

h1 {
    padding: 0;
    margin: 0;
    font-size: var(--font-size-large);
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.contribution {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-md);
    font-size: var(--font-size-normal);
}

.contribution-link {
    padding-right: var(--space-md);
}

.copy-button {
    background: none;
    border: none;
}

.copy-button:hover {
    cursor: pointer;
    fill: var(--dark-grey);
}
