html {
    font-size: 16px;
    /* rem is calculated based on this value. */
    width: 450px;
}

:root {
    /* Colors */
    --dark-grey: #1f2328;
    --light-grey: #ececec;
    --grey: #7a7a7a;
    --blue: #0366D6;

    /* Spacing Scale */
    --space-xs: 0.25rem; /* Extra small spacing for tight groupings (4px) */
    --space-sm: 0.5rem; /* Small spacing for closer elements (8px) */
    --space-md: 1rem; /* Base spacing for most uses (16px) */
    --space-lg: 1.5rem; /* Medium spacing for grouping larger blocks (24px) */
    --space-xl: 2rem; /* Large spacing for wider separations (32px) */
    --space-xxl: 3rem; /* Extra large spacing for major breaks in content (48px) */
    --space-ultra: 4rem; /* Ultra spacing for large layout divisions (64px) */

    /* Font Sizes */
    --font-size-small: 0.75rem; /* Small text for less important information (12px) */
    --font-size-normal: 0.825rem; /* Normal text for main content (14px) */
    --font-size-large: 1.25rem; /* Large text for headings or important clickable items (20px) */
}

body {
    padding: var(--space-md) var(--space-md);
}

hr {
    border: 1px solid var(--light-grey);
}

section {
    margin-top: var(--space-md);
}

h2 {
    padding: 0;
    margin: 0;
    font-size: var(--font-size-large);
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.contribution {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-md);
    font-size: var(--font-size-normal);
}

.contribution-info {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 8px;
}

.contribution-icon {
    flex: 0 0 20px;
    fill: var(--grey);
}

.contribution-link {
    color: var(--dark-grey);
    padding-right: var(--space-md);
    margin: 0;
    cursor: pointer;
}

.contribution-link a {
    color: var(--dark-grey);
}

.contribution-repo {
    color: var(--blue);
    display: block;
    font-size: var(--font-size-small);
    padding: 0;
    margin: 0;
}

.copy-button {
    background: none;
    border: none;
}

.copy-button:hover {
    cursor: pointer;
    fill: var(--dark-grey);
}

.previously-copied-hr {
    margin-bottom: var(--space-md);
}

.no-history-message {
    color: var(--dark-grey);
    font-size: var(--font-size-normal);
    text-align: center;
}

footer {
    display: flex;
}

.footer-title {
    padding: 0;
    margin: 0;
    font-size: var(--font-size-small);
    color: var(--grey);
}

.footer-title a {
    color: var(--grey);
}

.clear-history {
    border: none;
    background: none;
    color: var(--grey);
    font-weight: 600;
    font-size: var(--font-size-small);
}